In [3]:
import pandas as pd
import random
import numpy as np
import pathlib
pathlib.Path('./input').mkdir(parents=True, exist_ok=True)
pathlib.Path('./output').mkdir(parents=True, exist_ok=True)

In [4]:
number_of_transactions= 100000
def generate_record(n):
    output=[]
    for i in range(n):
        a= np.random.normal()* np.random.normal()*100.0
        b= a* np.random.normal()* np.random.normal()*100.0
        c= b * np.random.normal()+ np.random.uniform()*100.0
        output.append([int(a),int(b),int(c)])
    return output

list =generate_record(number_of_transactions)
df= pd.DataFrame.from_records(list,columns=["field1","field2","field3"])
df

       field1  field2  field3
0         -23     -35      41
1           0      57      19
2         -68  -11178   11234
3          57   -3189    2089
4         -85    4267     705
...       ...     ...     ...
99995      71     393     476
99996     -54    4337     911
99997     111    1108    -780
99998     -42     982     691
99999     -22    -618     992

[100000 rows x 3 columns]

In [5]:
df.to_excel("./input/data.xlsx", index=False)