In [6]:
import pandas as pd
import random
import numpy as np
import pathlib
pathlib.Path('./input').mkdir(parents=True, exist_ok=True)
pathlib.Path('./output').mkdir(parents=True, exist_ok=True)

In [7]:
number_of_transactions= 100000
def generate_record(n):
    output=[]
    for i in range(n):
        a= np.random.normal()* np.random.normal()*100.0
        b= a* np.random.normal()* np.random.normal()*100.0
        c= b * np.random.normal()+ np.random.uniform()*100.0
        output.append([int(a),int(b),int(c)])
    return output

list =generate_record(number_of_transactions)
df= pd.DataFrame.from_records(list,columns=["field1","field2","field3"])
df

       field1  field2  field3
0        -241    4708    2191
1         -29    1617     236
2           0      14      81
3           9    -728     938
4          37    9056   -4288
...       ...     ...     ...
99995      39   -2464    1369
99996      50   -1140     251
99997       0      12      57
99998      39     485    -718
99999     -30    -101      26

[100000 rows x 3 columns]

In [8]:
df.to_excel("./test_data/data.xlsx", index=False)